<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.op.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserInfo</servlet-name>
        <servlet-class>com.op.UserInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserInfo</servlet-name>
        <url-pattern>/UserInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserTradeCheck</servlet-name>
        <servlet-class>com.op.UserTradeCheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserTradeCheck</servlet-name>
        <url-pattern>/UserTradeCheck</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrgInfo</servlet-name>
        <servlet-class>com.op.OrgInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrgInfo</servlet-name>
        <url-pattern>/OrgInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TradeCheck</servlet-name>
        <servlet-class>com.op.TradeCheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TradeCheck</servlet-name>
        <url-pattern>/TradeCheck</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TradeInfo</servlet-name>
        <servlet-class>com.op.TradeInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TradeInfo</servlet-name>
        <url-pattern>/TradeInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserManage</servlet-name>
        <servlet-class>com.op.UserManage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserManage</servlet-name>
        <url-pattern>/UserManage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManualCharge</servlet-name>
        <servlet-class>com.op.ManualCharge</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManualCharge</servlet-name>
        <url-pattern>/ManualCharge</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Poundage</servlet-name>
        <servlet-class>com.op.Poundage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Poundage</servlet-name>
        <url-pattern>/Poundage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FileDownload</servlet-name>
        <servlet-class>com.op.FileDownload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileDownload</servlet-name>
        <url-pattern>/FileDownload</url-pattern>
    </servlet-mapping>

</web-app>